/condicionales/problema1/problema1/nbproject/private/
/condicionales/problema1/problema1/build/
/condicionales/problema2/Problema2/nbproject/private/
/condicionales/problema2/Problema2/build/
/condicionales/problema3/Problema3/nbproject/private/
/condicionales/problema3/Problema3/build/
/condicionales/problema4/problema4/nbproject/private/
/condicionales/problema4/problema4/build/
/manejo-entrada-salida/problema01/2problema1/nbproject/private/
/manejo-entrada-salida/problema01/2problema1/build/
/manejo-entrada-salida/problema01/p1/nbproject/private/
/manejo-entrada-salida/problema01/p1/build/
/manejo-entrada-salida/problema02/p2/nbproject/private/
/manejo-entrada-salida/problema02/p2/build/
/manejo-entrada-salida/problema03/p3/nbproject/private/
/manejo-entrada-salida/problema03/p3/build/
/manejo-entrada-salida/problema04/p4/nbproject/private/
/manejo-entrada-salida/problema05/p5/nbproject/private/
/manejo-entrada-salida/problema04/p4/build/
/manejo-entrada-salida/problema05/p5/build/
